@media (max-width: 600px){
    .logo-business {
        width: 56px;
        margin-right: 90px;
    }
    .business-title {
        color: black;
        font-size: x-large;
        margin-left: 20px;
    }
    body{
        width: 100%;
    }
}